# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

In [ ]:
### Some of the popular languages that Data Scientists use are:
1. Python
* R Programming
* SQL

### Some of the commonly used libraries used by Data Scientists include:
* Pytorch 
* Pandas
* keras

### Below are a few examples of evaluating arithmetic expressions in Python
a = 2+2
a

In [13]:
# This a simple arithmetic expression to mutiply then add integers

a = (3*4) + 5
print(a)

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
a = 200 / 60
a

3.3333333333333335

### ***Objectives:***
* SQL
* Python
* R Programming
* C/C++
* JavaScript

## Author 
### Ahmed Abdalkader